.footer {
  background-color: #000;
  color: #f7f7f7;
  font-family: "Jura:400", sans-serif;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline-flex;
}

.footer-column {
  flex-direction: column;
  font-size: 0.8rem;
}

.footer-column:first-child {
  margin-left: 30px;
}

.footer-column:nth-child(n + 1) {
  margin-left: 30px;
}

.footer-column:last-child {
  border-right: 0;
  margin-left: 30px;
}

.column-one {
  width: 25%;
}

.column-two {
  width: 35%;
}

.column-three {
  width: 20%;
}

.column-four {
  width: 20%;
}

.footer-list-item {
  font-size: 0.7rem;
  padding: 3px;
  color: grey;
}

.footer-list-item:hover {
  color: rgb(245, 236, 236);
}

.footer-list-item:first-child {
  margin-top: 10px;
}
