nav ul {
  font-family: "Jura", sans-serif;
  font-size: 0.8rem;
  list-style: none;
  margin: 0;
  float: right;
  margin-right: 50px;
}

nav li {
  display: inline-flex;
  padding: 22px;
}

nav li a {
  text-decoration: none;
  color: #f4fffe;
}

nav li:hover > a {
  color: #fc4445;
}
