nav ul {
  font-family: "Jura", sans-serif;
  font-size: 0.7rem;
  list-style: none;
  margin: 0;
  float: right;
  margin-right: 50px;
}

nav li {
  display: inline-flex;
  padding: 22px;
}

nav li a {
  text-decoration: none;
  color: #f4fffe;
}

nav li:hover {
  background-color: #f4fffe;
  margin: 4px 2px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 16px;
  color: #221e18a2;
}

nav li:hover > a {
  color: #221e18a2;
}
