@import url("./navigationbar.css");
@import url("./footer.css");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Jura:300,400,500,600,700|Monoton|Poiret+One|Rajdhani:300,400,500,600,700");

body {
  background-image: repeating-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  flex-direction: column;
  height: 500px;
}
