@import url("./navigationbar.css");
@import url("./footer.css");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Jura:300,400,500,600,700|Monoton|Poiret+One|Rajdhani:300,400,500,600,700");

body {
  background-color: #19181a;
  color: #fc4445;
  display: flex;
  flex-direction: column;
  height: 1000px;
}
